.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }

.abajo{
	width: 200px;
	height: 200px;
}
.arriba{
	width: 100px;
	height: 100px;
}
.credit-card-div{
	padding-left: : : 100px;
}